{% extends "dashboard.html" %}

{% block conteudo %}
<div class="card border-0 shadow-sm">
    <div class="card-header bg-white border-0">
      <a href="{{url('admin/posts/cadastrar')}}" class="btn btn-primary">Cadastrar</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody>
                    {%for post in posts%}
                  <tr>
                    <th>{{post.id}}</th>
                    <td>{{post.titulo}}</td>
                    <td>
                        {%if post.status == 1 %}
                        Ativo
                        {% else %}
                        Desligado
                        {%endif%}
                    </td>
                    <td>@mdo</td>
                  </tr>
                    {%endfor%}    
                </tbody>
              </table>
        </div>
       
        
        

    </div>
</div>
{% endblock %}